@using Net2LockerDemo.Services.Models
@inject Net2CommsService net2;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;

@if(Net2Users is not null)
{
    @foreach (var user in Net2Users)
    {
        <div class="card mt-2">
            <div class="card-header">
                Locker - @user.firstname @user.lastname 
            </div>
            <div class="card-body">
                <h5 class="card-title">Order Recieved</h5>
                <p>Current Locker Pin: @user.pin</p>
                <button class="btn btn-primary" @onclick="(()=> SetNewPinToLocker(user.id))">Set New Pin</button>
            </div>
        </div>
    }
}

@code {
    public List<Net2User> Net2Users { get; set; }
    public string newPin { get; set; }
    public AuthResponse authResponse { get; set; }

    protected override async Task OnInitializedAsync()
    {
        authResponse = await net2.GetAccessToken();
        await sessionStorage.SetItemAsync<AuthResponse>("auth",authResponse);
        Net2Users = await net2.GetNet2Users(authResponse);
    }

    private async Task SetNewPinToLocker(int userid)
    {
        newPin = await net2.UpdateUserPin(userid, authResponse);

        var user = Net2Users.SingleOrDefault(x => x.id == userid);
        user.pin = newPin;
    }
}
